/* Write your CSS here */
.todos-container {
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
}
.todo-input {
  width: 30vw;
  border: 1px;
  border-style: solid;
  margin-bottom: 10px;
}
.checkbox-input {
  width: 5vw;
}
.todo {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  padding-right: 10px;
}
.title {
  font-family: 'Roboto';
  color: #000000;
  font-weight: 500;
  text-align: start;
}
.buttons-container {
  margin-left: 20px;
}
.button {
  background-color: #ff884d;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
.delete-button {
  color: #ff0b37;
  background-color: #ffffff;
  border-color: #ff0b37;
  border-radius: 5px;
  border-style: solid;
  padding-left: 15px;
  padding-right: 15px;
  height: 5vh;
  margin-top: 18px;
  margin-left: 20px;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 20px;
  }
  .button {
    font-size: 15px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
